# constraint
-c airflow-constraints.txt

# dev
pre-commit

# release
apache-airflow[celery]
elasticsearch
elasticsearch-dsl[async]
feedparser
langdetect
psycopg2-binary
spacytextblob
textblob 

# spacy
spacy~=3.7.6
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.0/en_core_web_md-3.7.0.tar.gz